<!DOCTYPE html><html><head><link rel="stylesheet" href="/static/css/style.css"></head><body class="dark"><div class="card"><h1>Elweb • Bayt Tanjia</h1><% if (error) { %><p><%= error %></p><% } %><form method="post"><input name="username" placeholder="Username"/><input name="password" type="password" placeholder="Password"/><button>Se connecter</button></form></div></body></html>
